
/* CSS reset */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

*{
	box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ol, ul {
	list-style: none;
}

/* General */
html {
	box-sizing: border-box;
	font-size: 16pt;
	line-height: 1;
	animation: fadeInAnimation ease 1.5s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
0% { 
	opacity: .2; 
} 
100% { 
	   opacity: 1; 
 } 
} 

body {	
	color: #212931;
}

body, input{
	font-family: "Merriweather", Georgia, serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 2.375;
}

a {
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	text-decoration: none;
}

p {
	text-align: justify;
	margin: 0 0 2rem 0;
}

h1, h2, h3, h4{
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	margin: 0 0 1rem 0;
}

h1 {
	font-size: 4rem;
	line-height: 1.1;
	margin: 0 0 2rem 0;
}

h2 {
	font-size: 1.75rem;
	line-height: 1.3;
	margin: 0 0 1.5rem 0;
}

h3 {
	font-size: 1.25rem;
	margin: 0 0 1.5rem 0;
}

input, a, h1, h2, h3, h4{
	color: #212931;
}

a:hover {
color: #18bfef;
}

/* Buttons/anchor buttons */
button, .button {
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	border: 0;
	display: inline-block;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 0.8rem;
	font-weight: 900;
	letter-spacing: 0.075em;
	padding: 0.5rem 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #212931;
	color: #212931;
}

#scrollerBTN {
	display: none;
}

.button.icon.circle {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	text-shadow: none;
	text-align: center;
}

.button.icon.circle:hover {
	transition: 0.5s ease-out;
	transform: scale(1.15)
}

button:hover, .button:hover {
	/* box-shadow: inset 0 0 0 2px #18bfef; */
	color: #18bfef;
	background-color: #212931;
}

/* Form */
form {
	margin: 0 0 2rem 0;
}

form .fields {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	margin: 0 0 2rem
}

label {
	display: block;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 0.075em;
	font-size: 0.8rem;
	text-transform: uppercase;
	margin: 0 0 0.75rem 0;
	color: #212931;
}

input, textarea {
	appearance: none;
	background: transparent;
	border: solid 2px;
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
	margin-bottom: 1rem;
}

input {
	height: 3rem;
}

textarea {
	padding: 0.75rem 1rem;
}

input:disabled, input:disabled:hover {
	background-color: #717981;
	color:#909498
}


/* Images */
.image-fit {
	border: 0;
	display: inline-block;
	position: relative;
	box-shadow: 0 0 10px black;
	border-radius: 15px;
	display: block;
	margin: 2.5rem 0;
	width: 100%;
}
/* 
.image-fit:hover {
	transform: scale(1.075);
	transition: 0.4s;
} */

/* Sections/Articles */
header > .date {
	display: block;
	font-size: 0.8rem;
	height: 1;
	margin: 0 0 1rem 0;
	position: relative;
}

header > p {
	font-style: italic;
}

header.major {
	/* margin: 0 0 4rem 0; */
	text-align: center;
}

header.major > .date {
	font-size: 1rem;
	margin: 0 0 4rem 0;
}

/* Container */
#container {
	background-color: #212931;
	background-image: url("./assets/images/background3-min.jpeg");
	background-size: auto, auto, 100% auto;
	background-position: center, center, top center;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

/* Intro */
#intro {
	color: white;
	/* text-shadow: 2px 2px black, 4px 4px 5px black, 6px 6px 8px black; */
	padding: 8rem 4rem 6rem 4rem ;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	transition: opacity 1s ease, transform 1s ease;
	min-height: 100vh;
	text-align: center;
}

#intro h1, #intro h2 {
	color: white;
	z-index: 1;
	text-shadow: 1px 1px 5px black;
}

#intro .button {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #ffffff;
	color: #ffffff;
	z-index: 1;
}

#intro .button:hover {
	box-shadow: inset 0 0 0 2px #18bfef;
	color: #18bfef;
	z-index: 1;
}

#intro h1 {
	font-size: 5rem;
	z-index: 1;
}

#intro p {
	font-size: 1.5rem;
	font-style: italic;
	margin-top: -0.25rem;
	text-align: center;
	z-index: 1;
	text-shadow: 1px 1px 5px black;
	background-color:rgba(21, 41, 49, 0.7);
	padding: 1rem;
	border-radius: 15px;
}

/* NavBar */

#nav {
	color: #ffffff;
	display: flex;
	transition: transform 1s ease, opacity 1s ease;
	background:rgb(33, 41, 49);
	height: 4rem;
	line-height: 4rem;
	margin: -4rem auto 0 auto;
	padding: 0 2rem 0 0;
	position: relative;
	width: 100%;
	max-width: 72rem;
	box-shadow: 0 0 10px black, 0px 0 7px black;
	z-index: 10;
	justify-content: space-between;
}

#nav ul{
	width: 80%;
}

#nav div {
	display: flex;
	justify-content: flex-end;
	width: 20%;
}

#nav div a {
	color: #ffffff;
	font-size: 1.75rem;
	margin-left: 1rem;
}

#nav div a:hover {
	transition: 0.4s;
	transform: scale(1.25);
	color: #18bfef;
}

#nav li {
	color: #ffffff; 
transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
font-size: 0.8rem;
outline: none;
padding: 0 2rem;
}

#nav li:hover {
	color: #18bfef;
	background-color: rgba(255, 255, 255, 0.2);
}
	
#nav ul.links {
	display: flex;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	letter-spacing: 0.075em;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	text-transform: uppercase;
}
		
#nav .active {
	background-color: #ffffff;
	border-bottom: none;
}

#nav .active li {
	color: #212931;  
}

/* Main */
#main {
	background-color:	rgba(255, 255, 255, 0.9);
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 72rem;
	z-index: 2;
	box-shadow: 0 0 10px black;
}

#main > * {
	padding: 4rem 4rem 2rem 4rem;
	border-top: solid 2px #212931;
	margin: 0;
}

#main > *:first-child {
	border-top: 0;
}

#main > .post {
	/* padding: 5rem 8rem 5rem 8rem; */
	padding: 5rem;
	border-left: 2px solid;
}

#main > .post header.major {
	display: block;
	align-items: center;
}

#main > .post header.major h2 {
	font-size: 2rem;
	line-height: 1.1;
	/* margin: 1.5rem 0 2rem 0; */
	/* margin: 0 auto; */
}

#main > .posts {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
	width: 100%;
	padding: 0;
}

#main > .posts > * {
	padding: 4rem;
	width: 50%;
}

#main > .posts > article {
	border-left: 2px solid #212931;
	border-top: 2px solid #212931;
	text-align: center;
}

.project-label {
	align-self: center;
}

/* Contact page */
#contact {
	color: #717981;
	display: flex;
	background-color: #f5f5f5;
	color: #909498;
	cursor: default;
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 72rem;
	z-index: 2;
	border: 2px solid #212931;
	box-shadow: 0 0 10px black;
}

#contact a:hover {
	color: #18bfef;
}

#contact input[text],
#contact textarea {
	border-color: #212931;
	color: #212931;
}

#contact input:focus,
#contact textarea:focus {
	border-color: #18bfef;
}

#contact > section {
	flex-basis: 50%;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 4rem 4rem 2rem 4rem ;
	border-left: solid 2px #212931;
}

#contact > section:first-child {
	border-left: 0;
}

#contact > section.split {
	display: flex;
	flex-direction: column;
	padding: 0;
}
#contact > section.split  p.contactInfo {
	color: #212931;
}

#contact > section.split > section {
	border-top: solid 2px #212931;
}
#contact > section.split > section:nth-child(1) {
	border-top:0 ;
}

#contact > section.split.contact > section {
	/* display: flex; */
	align-items: center;
	padding: 3rem 4rem;
}
#contact > section.split.contact > section > :first-child {
	flex-shrink: 0;
	flex-grow: 0;
	width: 6rem;
}

#contact form label,
#contact h3 {
	font-size: 0.8rem;
}

#copyright {
	display: flex;
	justify-content: center;
	color: #ffffff;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	padding: 3rem;
	width: 100%;
	text-shadow: 2px 2px black;
	z-index: 1;
}

#copyright p {
	z-index: 1;
}

#socialMobile {
	display: none;
	z-index: 1;
}

#socialMobile a > *{
	display: none;
	z-index: 1;
}

.githubButton {
	margin-left: 1rem;
}

.githubIcon {
	font-size: 1.25rem;
}



/* Media Queries */
@media screen and (max-width: 420px) {
	#nav li {
		font-size: 0.65rem !important;
	}
html {
	font-size: 0.8rem;
	width: 100%;
	overflow-x: hidden;
}
body {
	width: 100%;
	overflow-x: hidden;
}
#main > article.post header.major h2 {
	font-size: 1.75rem; 
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
#main .posts img.image-fit {
	width: 100%;
}
#intro p {
	font-size: 0.9rem;
	margin: 0 0.5rem 0.5rem;
	padding-bottom: 0;
	line-height: 1.5;
	background-color: rgba(21, 41, 49, 0.7);
	padding: 1rem;
	border-radius: 15px;
	}
#main > .posts > * {
	padding: 1rem 0.25rem !important;
	width: 100%;
}
#main > .posts p, #main > .posts h1, #main > .posts h2 {
	padding: 0 1.5rem;
}
}

@media screen and (max-width: 500px) {
	#nav {
		width: 100%;
		padding: 0;
	}
	#nav ul {
		width: 100%;
		justify-content: space-around;
	}
	#nav li {
		max-width: 33%;
		margin: 0;
		padding: 0 auto;
		font-size: 0.75rem;
	}
#nav div {
	display: none;
	width: 0;
}
#socialMobile {
	width: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#socialMobile a > *{
	font-size: 1.75rem;
	margin: 0;
	padding: 0;
	color: white;
	display: inline-block;
	margin-bottom: 0.25rem;
}
#intro p {
	font-size: 1rem;
	margin: 0 0.5rem 0.5rem;
	padding-bottom: 0;
	line-height: 1.5;
	background-color: rgba(21, 41, 49, 0.7);
	padding: 1rem;
	border-radius: 15px;
}
#main > .posts > * {
	padding: 1rem !important;
	width: 100%;
}

#main > .posts {
	padding: 0 0 !important;
}
article.project {
	padding: 0;
}
article.post {
	padding: 1rem !important;
}
}

@media screen and (max-width: 736px) {

#contact > section {
	padding: 2rem 2rem 0.1rem 2rem ;
}

#contact > section.split > section {
	padding: 2rem 2rem 0.1rem 2rem ;
}

#contact > section.split.contact > section {
	padding: 2rem;
}

#main > .posts > * {
	padding: 2rem;
	width: 100% !important;
}

#main > .post {
	padding: 2rem 0 !important;
}

#main > .posts > article:nth-child(n) {
	border-left-width: 0;
}

#main > .posts > article .image {
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

#main > .post header.major > h1, #main > .post header.major h2 {
	font-size: 2.5rem;
	line-height: 1.2;
	margin: 0 0 1.5rem 0;
}

#intro {
	padding: 3rem 2rem 64px 2rem ;
	min-height: 90vh;
}

#intro h1 {
font-size: 3.25rem;
line-height: 1.1;
margin-bottom: 1rem;
}

#intro p {
font-size: 1.2rem;
margin-top: 0rem;
margin-bottom: 0.25rem;
padding-bottom: 1rem;
}

}

@media screen and (max-width: 980px) {

	#contact {
		display: block;
	}

	#contact > section {
	border-top: solid 2px #212931;
	}

	#contact form label,
	#contact h3,
	#contact p {
	font-size: 0.9rem;
	}

	#main > .posts > * {
	padding: 2.5rem;
	width: 50%;
	}

	#intro {
	/* padding: 4rem 4rem 4rem 4rem ; */
	min-height: 100vh;
	}

	#container {
	background-size: cover;
	}
	#main > .post header.major {
		display: block;
	}
	#intro p {
		font-size: 1.3rem;
		margin: 0 0.5rem 0.5rem;
		padding-bottom: 0;
		line-height: 1.5;
		background-color: rgba(21, 41, 49, 0.7);
		padding: 1rem;
		border-radius: 15px;
	}
}

@media screen and (max-width: 1280px) {

html {
	font-size: 0.9rem;
}
}

@media screen and (max-width: 1680px) {

html {
	font-size: 1rem;
}
}

.fade-in-section {
	opacity: 0;
	transform: translateY(20vh);
	visibility: hidden;
	transition: opacity 1100ms ease-out, transform 600ms ease-out,
	  visibility 1100ms ease-out;
	will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
  }

  #canvas1 {
    position: fixed;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    height: 100%;
	background-color: radial-gradient(#ffc38c, #ff9b40);
	z-index: 0;
}

article.project {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	/* height: 800px; */
	box-sizing: border-box;
	align-items: center;
}

/* article.project div.projectHeader {
	height: 60%;
} */

/* article.project div.projectDescription {
	height: 35%;
} */

article.project div.projectButtons {
	height: 5%;
}

#main .post .aboutMe .aboutSection {
  padding: 0 2rem;
}

strong#aboutIntro {
	font-size: larger;
	font-weight: bold;
}

.aboutSection p {
	text-indent: 2rem;
}

/*!
 * Quill Editor v1.3.7
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
 .ql-container {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 100%;
	margin: 0px;
	position: relative;
  }
  .ql-container.ql-disabled .ql-tooltip {
	visibility: hidden;
  }
  .ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
	pointer-events: none;
  }
  .ql-clipboard {
	left: -100000px;
	height: 1px;
	overflow-y: hidden;
	position: absolute;
	top: 50%;
  }
  .ql-clipboard p {
	margin: 0;
	padding: 0;
  }
  .ql-editor {
	box-sizing: border-box;
	line-height: 1.42;
	height: 100%;
	outline: none;
	overflow-y: auto;
	padding: 12px 15px;
	tab-size: 4;
	-moz-tab-size: 4;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: #212931;
  }
  .ql-editor > * {
	cursor: text;
  }
  .ql-editor p,
  .ql-editor ol,
  .ql-editor ul,
  .ql-editor pre,
  .ql-editor blockquote,
  .ql-editor h1,
  .ql-editor h2,
  .ql-editor h3,
  .ql-editor h4,
  .ql-editor h5,
  .ql-editor h6 {
	margin: 0;
	padding: 0;
	counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol,
  .ql-editor ul {
	padding-left: 1.5em;
  }
  .ql-editor ol > li,
  .ql-editor ul > li {
	list-style-type: none;
  }
  .ql-editor ul > li::before {
	content: '\2022';
  }
  .ql-editor ul[data-checked=true],
  .ql-editor ul[data-checked=false] {
	pointer-events: none;
  }
  .ql-editor ul[data-checked=true] > li *,
  .ql-editor ul[data-checked=false] > li * {
	pointer-events: all;
  }
  .ql-editor ul[data-checked=true] > li::before,
  .ql-editor ul[data-checked=false] > li::before {
	color: #777;
	cursor: pointer;
	pointer-events: all;
  }
  .ql-editor ul[data-checked=true] > li::before {
	content: '\2611';
  }
  .ql-editor ul[data-checked=false] > li::before {
	content: '\2610';
  }
  .ql-editor li::before {
	display: inline-block;
	white-space: nowrap;
	width: 1.2em;
  }
  .ql-editor li:not(.ql-direction-rtl)::before {
	margin-left: -1.5em;
	margin-right: 0.3em;
	text-align: right;
  }
  .ql-editor li.ql-direction-rtl::before {
	margin-left: 0.3em;
	margin-right: -1.5em;
  }
  .ql-editor ol li:not(.ql-direction-rtl),
  .ql-editor ul li:not(.ql-direction-rtl) {
	padding-left: 1.5em;
  }
  .ql-editor ol li.ql-direction-rtl,
  .ql-editor ul li.ql-direction-rtl {
	padding-right: 1.5em;
  }
  .ql-editor ol li {
	counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
	counter-increment: list-0;
  }
  .ql-editor ol li:before {
	content: counter(list-0, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-1 {
	counter-increment: list-1;
  }
  .ql-editor ol li.ql-indent-1:before {
	content: counter(list-1, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-1 {
	counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-2 {
	counter-increment: list-2;
  }
  .ql-editor ol li.ql-indent-2:before {
	content: counter(list-2, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-2 {
	counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-3 {
	counter-increment: list-3;
  }
  .ql-editor ol li.ql-indent-3:before {
	content: counter(list-3, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-3 {
	counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-4 {
	counter-increment: list-4;
  }
  .ql-editor ol li.ql-indent-4:before {
	content: counter(list-4, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-4 {
	counter-reset: list-5 list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-5 {
	counter-increment: list-5;
  }
  .ql-editor ol li.ql-indent-5:before {
	content: counter(list-5, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-5 {
	counter-reset: list-6 list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-6 {
	counter-increment: list-6;
  }
  .ql-editor ol li.ql-indent-6:before {
	content: counter(list-6, decimal) '. ';
  }
  .ql-editor ol li.ql-indent-6 {
	counter-reset: list-7 list-8 list-9;
  }
  .ql-editor ol li.ql-indent-7 {
	counter-increment: list-7;
  }
  .ql-editor ol li.ql-indent-7:before {
	content: counter(list-7, lower-alpha) '. ';
  }
  .ql-editor ol li.ql-indent-7 {
	counter-reset: list-8 list-9;
  }
  .ql-editor ol li.ql-indent-8 {
	counter-increment: list-8;
  }
  .ql-editor ol li.ql-indent-8:before {
	content: counter(list-8, lower-roman) '. ';
  }
  .ql-editor ol li.ql-indent-8 {
	counter-reset: list-9;
  }
  .ql-editor ol li.ql-indent-9 {
	counter-increment: list-9;
  }
  .ql-editor ol li.ql-indent-9:before {
	content: counter(list-9, decimal) '. ';
  }
  .ql-editor .ql-indent-1:not(.ql-direction-rtl) {
	padding-left: 3em;
  }
  .ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
	padding-left: 4.5em;
  }
  .ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
	padding-right: 3em;
  }
  .ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
	padding-right: 4.5em;
  }
  .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
	padding-left: 6em;
  }
  .ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
	padding-left: 7.5em;
  }
  .ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
	padding-right: 6em;
  }
  .ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
	padding-right: 7.5em;
  }
  .ql-editor .ql-indent-3:not(.ql-direction-rtl) {
	padding-left: 9em;
  }
  .ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
	padding-left: 10.5em;
  }
  .ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
	padding-right: 9em;
  }
  .ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
	padding-right: 10.5em;
  }
  .ql-editor .ql-indent-4:not(.ql-direction-rtl) {
	padding-left: 12em;
  }
  .ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
	padding-left: 13.5em;
  }
  .ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
	padding-right: 12em;
  }
  .ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
	padding-right: 13.5em;
  }
  .ql-editor .ql-indent-5:not(.ql-direction-rtl) {
	padding-left: 15em;
  }
  .ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
	padding-left: 16.5em;
  }
  .ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
	padding-right: 15em;
  }
  .ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
	padding-right: 16.5em;
  }
  .ql-editor .ql-indent-6:not(.ql-direction-rtl) {
	padding-left: 18em;
  }
  .ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
	padding-left: 19.5em;
  }
  .ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
	padding-right: 18em;
  }
  .ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
	padding-right: 19.5em;
  }
  .ql-editor .ql-indent-7:not(.ql-direction-rtl) {
	padding-left: 21em;
  }
  .ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
	padding-left: 22.5em;
  }
  .ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
	padding-right: 21em;
  }
  .ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
	padding-right: 22.5em;
  }
  .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
	padding-left: 24em;
  }
  .ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
	padding-left: 25.5em;
  }
  .ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
	padding-right: 24em;
  }
  .ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
	padding-right: 25.5em;
  }
  .ql-editor .ql-indent-9:not(.ql-direction-rtl) {
	padding-left: 27em;
  }
  .ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
	padding-left: 28.5em;
  }
  .ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
	padding-right: 27em;
  }
  .ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
	padding-right: 28.5em;
  }
  .ql-editor .ql-video {
	display: block;
	max-width: 100%;
  }
  .ql-editor .ql-video.ql-align-center {
	margin: 0 auto;
  }
  .ql-editor .ql-video.ql-align-right {
	margin: 0 0 0 auto;
  }
  .ql-editor .ql-bg-black {
	background-color: #000;
  }
  .ql-editor .ql-bg-red {
	background-color: #e60000;
  }
  .ql-editor .ql-bg-orange {
	background-color: #f90;
  }
  .ql-editor .ql-bg-yellow {
	background-color: #ff0;
  }
  .ql-editor .ql-bg-green {
	background-color: #008a00;
  }
  .ql-editor .ql-bg-blue {
	background-color: #06c;
  }
  .ql-editor .ql-bg-purple {
	background-color: #93f;
  }
  .ql-editor .ql-color-white {
	color: #fff;
  }
  .ql-editor .ql-color-red {
	color: #e60000;
  }
  .ql-editor .ql-color-orange {
	color: #f90;
  }
  .ql-editor .ql-color-yellow {
	color: #ff0;
  }
  .ql-editor .ql-color-green {
	color: #008a00;
  }
  .ql-editor .ql-color-blue {
	color: #06c;
  }
  .ql-editor .ql-color-purple {
	color: #93f;
  }
  .ql-editor .ql-font-serif {
	font-family: Georgia, Times New Roman, serif;
  }
  .ql-editor .ql-font-monospace {
	font-family: Monaco, Courier New, monospace;
  }
  .ql-editor .ql-size-small {
	font-size: 0.75em;
  }
  .ql-editor .ql-size-large {
	font-size: 1.5em;
  }
  .ql-editor .ql-size-huge {
	font-size: 2.5em;
  }
  .ql-editor .ql-direction-rtl {
	direction: rtl;
	text-align: inherit;
  }
  .ql-editor .ql-align-center {
	text-align: center;
  }
  .ql-editor .ql-align-justify {
	text-align: justify;
  }
  .ql-editor .ql-align-right {
	text-align: right;
  }
  .ql-editor.ql-blank::before {
	color: rgba(0,0,0,0.6);
	content: attr(data-placeholder);
	font-style: italic;
	left: 15px;
	pointer-events: none;
	position: absolute;
	right: 15px;
  }
  .ql-snow.ql-toolbar:after,
  .ql-snow .ql-toolbar:after {
	clear: both;
	content: '';
	display: table;
  }
  .ql-snow.ql-toolbar button,
  .ql-snow .ql-toolbar button {
	background: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 24px;
	padding: 3px 5px;
	width: 28px;
	box-shadow: none;
  }
  .ql-snow.ql-toolbar button svg,
  .ql-snow .ql-toolbar button svg {
	float: left;
	height: 100%;
  }
  .ql-snow.ql-toolbar button:active:hover,
  .ql-snow .ql-toolbar button:active:hover {
	outline: none;
  }
  .ql-snow.ql-toolbar input.ql-image[type=file],
  .ql-snow .ql-toolbar input.ql-image[type=file] {
	display: none;
  }
  .ql-snow.ql-toolbar button:hover,
  .ql-snow .ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button:focus,
  .ql-snow.ql-toolbar button.ql-active,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow .ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item:hover,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
	color: #06c;
  }
  .ql-snow.ql-toolbar button:hover .ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
  .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
	fill: #06c;
  }
  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow .ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button:focus .ql-stroke,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
  .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
  .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
  .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
	stroke: #06c;
  }
  @media (pointer: coarse) {
	.ql-snow.ql-toolbar button:hover:not(.ql-active),
	.ql-snow .ql-toolbar button:hover:not(.ql-active) {
	  color: #444;
	}
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
	  fill: #444;
	}
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
	.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
	.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
	  stroke: #444;
	}
  }
  .ql-snow {
	box-sizing: border-box;
  }
  .ql-snow * {
	box-sizing: border-box;
  }
  .ql-snow .ql-hidden {
	display: none;
  }
  .ql-snow .ql-out-bottom,
  .ql-snow .ql-out-top {
	visibility: hidden;
  }
  .ql-snow .ql-tooltip {
	position: absolute;
	transform: translateY(10px);
  }
  .ql-snow .ql-tooltip a {
	cursor: pointer;
	text-decoration: none;
  }
  .ql-snow .ql-tooltip.ql-flip {
	transform: translateY(-10px);
  }
  .ql-snow .ql-formats {
	display: inline-block;
	vertical-align: middle;
  }
  .ql-snow .ql-formats:after {
	clear: both;
	content: '';
	display: table;
  }
  .ql-snow .ql-stroke {
	fill: none;
	stroke: #444;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
  }
  .ql-snow .ql-stroke-miter {
	fill: none;
	stroke: #444;
	stroke-miterlimit: 10;
	stroke-width: 2;
  }
  .ql-snow .ql-fill,
  .ql-snow .ql-stroke.ql-fill {
	fill: #444;
  }
  .ql-snow .ql-empty {
	fill: none;
  }
  .ql-snow .ql-even {
	fill-rule: evenodd;
  }
  .ql-snow .ql-thin,
  .ql-snow .ql-stroke.ql-thin {
	stroke-width: 1;
  }
  .ql-snow .ql-transparent {
	opacity: 0.4;
  }
  .ql-snow .ql-direction svg:last-child {
	display: none;
  }
  .ql-snow .ql-direction.ql-active svg:last-child {
	display: inline;
  }
  .ql-snow .ql-direction.ql-active svg:first-child {
	display: none;
  }
  .ql-snow .ql-editor h1 {
	font-size: 2em;
  }
  .ql-snow .ql-editor h2 {
	font-size: 1.5em;
  }
  .ql-snow .ql-editor h3 {
	font-size: 1.17em;
  }
  .ql-snow .ql-editor h4 {
	font-size: 1em;
  }
  .ql-snow .ql-editor h5 {
	font-size: 0.83em;
  }
  .ql-snow .ql-editor h6 {
	font-size: 0.67em;
  }
  .ql-snow .ql-editor a {
	text-decoration: underline;
  }
  .ql-snow .ql-editor blockquote {
	border-left: 4px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 16px;
  }
  .ql-snow .ql-editor code,
  .ql-snow .ql-editor pre {
	background-color: #f0f0f0;
	border-radius: 3px;
  }
  .ql-snow .ql-editor pre {
	white-space: pre-wrap;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px 10px;
  }
  .ql-snow .ql-editor code {
	font-size: 85%;
	padding: 2px 4px;
  }
  .ql-snow .ql-editor pre.ql-syntax {
	background-color: #23241f;
	color: #f8f8f2;
	overflow: visible;
  }
  .ql-snow .ql-editor img {
	max-width: 100%;
  }
  .ql-snow .ql-picker {
	color: #444;
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: 500;
	height: 24px;
	position: relative;
	vertical-align: middle;
  }
  .ql-snow .ql-picker-label {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding-left: 8px;
	padding-right: 2px;
	position: relative;
	width: 100%;
  }
  .ql-snow .ql-picker-label::before {
	display: inline-block;
	line-height: 22px;
  }
  .ql-snow .ql-picker-options {
	background-color: #fff;
	display: none;
	min-width: 100%;
	padding: 4px 8px;
	position: absolute;
	white-space: nowrap;
  }
  .ql-snow .ql-picker-options .ql-picker-item {
	cursor: pointer;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label {
	color: #ccc;
	z-index: 2;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
	fill: #ccc;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
	stroke: #ccc;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-options {
	display: block;
	margin-top: -1px;
	top: 100%;
	z-index: 1;
  }
  .ql-snow .ql-color-picker,
  .ql-snow .ql-icon-picker {
	width: 28px;
  }
  .ql-snow .ql-color-picker .ql-picker-label,
  .ql-snow .ql-icon-picker .ql-picker-label {
	padding: 2px 4px;
  }
  .ql-snow .ql-color-picker .ql-picker-label svg,
  .ql-snow .ql-icon-picker .ql-picker-label svg {
	right: 4px;
  }
  .ql-snow .ql-icon-picker .ql-picker-options {
	padding: 4px 0px;
  }
  .ql-snow .ql-icon-picker .ql-picker-item {
	height: 24px;
	width: 24px;
	padding: 2px 4px;
  }
  .ql-snow .ql-color-picker .ql-picker-options {
	padding: 3px 5px;
	width: 152px;
  }
  .ql-snow .ql-color-picker .ql-picker-item {
	border: 1px solid transparent;
	float: left;
	height: 16px;
	margin: 2px;
	padding: 0px;
	width: 16px;
  }
  .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
	position: absolute;
	margin-top: -9px;
	right: 0;
	top: 50%;
	width: 18px;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
	content: attr(data-label);
  }
  .ql-snow .ql-picker.ql-header {
	width: 98px;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
	content: 'Normal';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
	content: 'Heading 1';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
	content: 'Heading 2';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
	content: 'Heading 3';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
	content: 'Heading 4';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
	content: 'Heading 5';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
	content: 'Heading 6';
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
	font-size: 2em;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
	font-size: 1.5em;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
	font-size: 1.17em;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
	font-size: 1em;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
	font-size: 0.83em;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
	font-size: 0.67em;
  }
  .ql-snow .ql-picker.ql-font {
	width: 108px;
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item::before {
	content: 'Sans Serif';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
	content: 'Serif';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
	content: 'Monospace';
  }
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
	font-family: Georgia, Times New Roman, serif;
  }
  .ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
	font-family: Monaco, Courier New, monospace;
  }
  .ql-snow .ql-picker.ql-size {
	width: 98px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item::before {
	content: 'Normal';
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
	content: 'Small';
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
	content: 'Large';
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
	content: 'Huge';
  }
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
	font-size: 10px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
	font-size: 18px;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
	font-size: 32px;
  }
  .ql-snow .ql-color-picker.ql-background .ql-picker-item {
	background-color: #fff;
  }
  .ql-snow .ql-color-picker.ql-color .ql-picker-item {
	background-color: #000;
  }
  .ql-toolbar.ql-snow {
	border: 2px solid #212931;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 8px;
  }
  .ql-toolbar.ql-snow .ql-formats {
	margin-right: 15px;
  }
  .ql-toolbar.ql-snow .ql-picker-label {
	border: 1px solid transparent;
  }
  .ql-toolbar.ql-snow .ql-picker-options {
	border: 1px solid transparent;
	box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: #ccc;
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
	border-color: #ccc;
  }
  .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
  .ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
	border-color: #000;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
	border-top: 0px;
  }
  .ql-snow .ql-tooltip {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #ddd;
	color: #444;
	padding: 5px 12px;
	white-space: nowrap;
  }
  .ql-snow .ql-tooltip::before {
	content: "Visit URL:";
	line-height: 26px;
	margin-right: 8px;
  }
  .ql-snow .ql-tooltip input[type=text] {
	display: none;
	border: 1px solid #ccc;
	font-size: 13px;
	height: 26px;
	margin: 0px;
	padding: 3px 5px;
	width: 170px;
  }
  .ql-snow .ql-tooltip a.ql-preview {
	display: inline-block;
	max-width: 200px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
  }
  .ql-snow .ql-tooltip a.ql-action::after {
	border-right: 1px solid #ccc;
	content: 'Edit';
	margin-left: 16px;
	padding-right: 8px;
  }
  .ql-snow .ql-tooltip a.ql-remove::before {
	content: 'Remove';
	margin-left: 8px;
  }
  .ql-snow .ql-tooltip a {
	line-height: 26px;
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-preview,
  .ql-snow .ql-tooltip.ql-editing a.ql-remove {
	display: none;
  }
  .ql-snow .ql-tooltip.ql-editing input[type=text] {
	display: inline-block;
  }
  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
	border-right: 0px;
	content: 'Save';
	padding-right: 0px;
  }
  .ql-snow .ql-tooltip[data-mode=link]::before {
	content: "Enter link:";
  }
  .ql-snow .ql-tooltip[data-mode=formula]::before {
	content: "Enter formula:";
  }
  .ql-snow .ql-tooltip[data-mode=video]::before {
	content: "Enter video:";
  }
  .ql-snow a {
	color: #06c;
  }
  .ql-container.ql-snow {
	border: 2px solid #212931;
  }
  

  /* Notification Banner Styles */

  .notification-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
	width: 300px;
	z-index: 9999 !important;
}

@media (max-width: 800px) {
	.notification-wrapper {
		width: 250px;
	}
	.notification-item {
		font-size: 0.9rem;
		width: 250px !important;
	}
}
@media (max-width: 500px) {
	.notification-item {
		font-size: 0.85rem;
		width: 200px !important;
	}
	.notification-wrapper {
		width: 200px;
	}
}

.notification-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
    overflow: hidden;
    margin-bottom: 10px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
	width: 300px;
	background-color: #212931;
	color: white;
	line-height: normal;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item.exit {
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}

.notification-item p {
    margin: 0;
    padding: 10px;
}

.notification-item .bar {
    height: 10px;
}

.notification-item.success .bar {
    background-color: #65d266;
}

.notification-item.error .bar {
    background-color: red;
}

.notification-item.info .bar {
    background-color: #18bfef;
}